body {
    background-image: url('bg.jpg'); /* Add your image path here */
    background-size: cover;  /* Ensures the image covers the entire page */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    font-family: 'Arial', sans-serif;
    height: 100vh;  /* Ensures the body height takes full viewport height */
    margin: 0;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.4);  /* Add a white background with opacity for readability */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow:  20px 20px 39px rgb(220, 173, 77),
               -20px -20px 39px rgb(81, 149, 197);
  }
  
  
  .card h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #333;
  }
  
  .card-body {
    padding: 30px;
  }
  
  .form-control {
    border-radius: 25px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  #message {
    color: rgb(19, 66, 219);
  }
  
  @media (max-width: 576px) {
    .card {
      margin-top: 30px;
    }
  }
  